.breadcrumb {
  margin-top: 28px;
  color: #D4D4D2;
  @media all and (max-width: 1920px){
    margin-top: px(28);
  }
  @media all and (max-width: 1024px){
    margin-top: px(14);
  }
  span{
    font-size: 12px;
    font-weight: 400;
    @media all and (max-width: 1920px){
      font-size: px(12);
    }
    @media all and (max-width: 500px){
      font-size: px(10);
    }
    a{
      font-size: inherit;
      text-decoration: none;
      span{
        color: #D4D4D2;
      }
    }
    span{
      color: #181717;
      line-height: 140%;
    }
  }
}