.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    padding: 23px 0;
    box-shadow: 0px 4px 20px rgba(169, 190, 202, 0);
    transition: 0.3s ease-in-out;
    z-index: 50;
    @media all and (max-width: 1920px){
        padding: px(23) 0;
    }
    &__container{
        display: flex;
        align-items: center;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        flex: 1;
    }
    &.moved{
        background-color: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(169, 190, 202, 0.3);
        border-bottom: transparent;
        .desctop-logo{
            opacity: 0;
        }
        .moved-logo{
            opacity: 1;
        }
        @media all and (max-width: 1200px){
            border-bottom: 1px solid rgba(203, 182, 135, 0.50);
        }
    }
    &__burger{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding-right: px(55);
        @media all and (max-width: 768px){
            padding-right: px(35);
        }
        @media all and (max-width: 500px){
            padding-right: px(20);
        }
        span{
            display: block;
            height: 2px;
            width: px(60);
            background-color: #000000;
            margin: px(10) 0;
            @media all and (max-width: 768px){
                width: px(40);
                margin: px(6);
            }
            @media all and (max-width: 500px){
                width: px(30);
                margin: px(4);
            }
        }
        @media all and (max-width: 1200px){
            display: flex;
        }
    }
    &__nav{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .menu{
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                margin: 0 43px;
                @media all and (max-width: 1920px){
                    margin: 0 px(43);
                }
                a{
                    color: #181717;
                    font-variant-numeric: lining-nums proportional-nums;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: normal;
                    text-decoration: none;
                    @media all and (max-width: 1920px){
                        font-size: px(18);
                    }
                }
            }
        }
    }
    &__contacts{
        display: flex;
        align-items: center;
        margin-right: 43px;
        @media all and (max-width: 1920px){
            margin-right: px(43);
        }
        a{
            color: #181717;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            margin: 0 21px;
            text-decoration: none;
            @media all and (max-width: 1920px){
                font-size: px(20);
                margin: 0 px(21);
            }
        }
    }
    &__lang {
        display: flex;
        height: 100%;
        @media all and (max-width: 1200px) {
            height: auto;
            border-right: none;
            padding: px(34) 0 px(84) 0;
        }

        ul {
            height: 100%;
            display: flex;
            align-items: center;
            width: 100%;
            @media all and (max-width: 1200px) {
                height: auto;
                border-right: none;
            }
            li {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding: 0 px(10);
                &.active {
                    a {
                        color: #D291DE;
                    }
                }
            }
            a {
                color: #000000;
                font-size: px(16);
                font-style: normal;
                font-weight: 400;
                line-height: 246%;
                letter-spacing: 0.48px;
                text-transform: uppercase;
                white-space: nowrap;
                transition: all 0.3s ease-in-out;
                text-decoration: none;
                &:hover {
                    color: #D291DE;
                }
            }
        }
    }
}